[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maruthi-Revanna
[access "refs/for/refs/*"]
	read = group user/Maruthi-Revanna
	push = group user/Maruthi-Revanna
	label-Code-Review = -2..+2 group user/Maruthi-Revanna
	label-Verified = -1..+1 group user/Maruthi-Revanna
	rebase = group user/Maruthi-Revanna
	removeReviewer = group user/Maruthi-Revanna
	submit = group user/Maruthi-Revanna
[access "refs/heads/*"]
	read = group user/Maruthi-Revanna
	create = group user/Maruthi-Revanna
	push = +force group user/Maruthi-Revanna
	pushMerge = group user/Maruthi-Revanna
[access "refs/tags/*"]
	push = group user/Maruthi-Revanna
	push = +force group user/Maruthi-Revanna
